<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jwbfs.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="jwbfs.core.Perspective"
            id="jwbfs.core.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jwbfs.core.application"
            name="JWBFS">
         <property
               name="appName"
               value="JWBFS">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="it.jwbfs.core.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Disks">
            <command
                  commandId="it.jwbfs.core.refreshDiskView"
                  label="Refresh Active Disk"
                  style="push">
                  <parameter 
               		name="diskID" 
               		value="activeDiskID"> 
         		  </parameter> 
            </command>
         </menu>
         <menu
               label="Games">
            <command
                  commandId="it.jwbfs.core.updateGameList"
                  label="Update Games List"
                  style="push">
            </command>
            <command
                  commandId="it.jwbfs.core.updateTitles"
                  label="Update Titles DB"
                  style="push">
            </command>
         </menu>
         <menu
               label="Covers">
            <command
                  commandId="it.jwbfs.core.updateCoverForced"
                  label="Update Selected Cover"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <!--extension point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="jwbfs.core.splash.SplashHandler"
            id="jwbfs.core.splash.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="jwbfs.products"
            splashId="jwbfs.core.splash.splashHandler">
      </splashHandlerProductBinding>
   </extension-->

</plugin>
