<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jwbfs.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="jwbfs.core.Perspective"
            id="jwbfs.core.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jwbfs.core.application"
            name="%product.name">
         <property
               name="appName"
               value="JWBFS">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="%menu.file">
            <command
                  commandId="it.jwbfs.core.exit"
                  label="%command.exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.disks">
            <command
                  commandId="it.jwbfs.core.refreshAllDisks"
                  label="%command.disks.refresh"
                  style="push">
            </command>
            <menu
                  label="%menu.disks.views">
            <command
                  commandId="it.jwbfs.core.changeDisksPerspective"
                  label="%command.disks.num.1"
                  style="push">
                  <parameter 
               		name="numDisks" 
               		value="1"> 
         		  </parameter> 
            </command>
             <command
                  commandId="it.jwbfs.core.changeDisksPerspective"
                  label="%command.disks.num.2"
                  style="push">
                  <parameter 
               		name="numDisks" 
               		value="2"> 
         		  </parameter> 
            </command> 
            <command
                  commandId="it.jwbfs.core.changeDisksPerspective"
                  label="%command.disks.num.3"
                  style="push">
                  <parameter 
               		name="numDisks" 
               		value="3"> 
         		  </parameter> 
            </command>
            <command
                  commandId="it.jwbfs.core.changeDisksPerspective"
                  label="%command.disks.num.4"
                  style="push">
                  <parameter 
               		name="numDisks" 
               		value="4"> 
         		  </parameter> 
            </command>
            <command
                  commandId="it.jwbfs.core.changeDisksPerspective"
                  label="%command.disks.num.5"
                  style="push">
                  <parameter 
               		name="numDisks" 
               		value="5"> 
         		  </parameter> 
            </command>
            <command
                  commandId="it.jwbfs.core.changeDisksPerspective"
                  label="%command.disks.num.6"
                  style="push">
                  <parameter 
               		name="numDisks" 
               		value="6"> 
         		  </parameter> 
            </command>
            </menu>                                                                    
         </menu>
         <menu
               label="%menu.games">
            <command
                  commandId="it.jwbfs.core.updateGameList"
                  label="%command.games.update.list"
                  style="push">
                  <parameter 
               		name="diskID" 
               		value="activeDiskID"> 
         		  </parameter>                   
            </command>
            <command
                  commandId="it.jwbfs.core.updateTitles"
                  label="%command.games.update.titles"
                  style="push">
            </command>
            <menu
                  label="%menu.games.copy.selected">
<!--DISK1-->
               <command
                     commandId="it.jwbfs.core.games.paste"
                     label="%command.games.copy.to.1"
                     style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="it.jwbfs.ui.DiskView1">
                  </parameter>
                  <visibleWhen>
                  	<and>                	
   						<with variable="activeContexts">
             					<iterate operator="or">
             					<or>
             					 	<equals value="jwbfs.context.disk.2"/>
             					 	<equals value="jwbfs.context.disk.3"/>
             					 	<equals value="jwbfs.context.disk.4"/>
             					 	<equals value="jwbfs.context.disk.5"/>
             					 	<equals value="jwbfs.context.disk.6"/>
                			    </or>
           						</iterate>      	           						      					           							          						
           				</with>
           				<with variable="activePartId">
           					<not>
           					 	<equals value="it.jwbfs.ui.DiskView1"/>
           					</not>   	           						      					           							          						
           				</with>
           				</and>
				</visibleWhen>
               </command>                  
<!--DISK2-->
               <command
                     commandId="it.jwbfs.core.games.paste"
                     label="%command.games.copy.to.2"
                     style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="it.jwbfs.ui.DiskView2">
                  </parameter>
                  <visibleWhen>
                  	<and>               
   						<with variable="activeContexts">
             					<iterate operator="or">
             					<or>
             					 	<equals value="jwbfs.context.disk.2"/>
             					 	<equals value="jwbfs.context.disk.3"/>
             					 	<equals value="jwbfs.context.disk.4"/>
             					 	<equals value="jwbfs.context.disk.5"/>
             					 	<equals value="jwbfs.context.disk.6"/>
                			    </or>
           						</iterate>      	           						      					           							          						
           				</with>
           				<with variable="activePartId">
           					<not>
           					 	<equals value="it.jwbfs.ui.DiskView2"/>
           					</not>   	           						      					           							          						
           				</with>
           			</and>
				</visibleWhen>
               </command>
<!--DISK3-->
               <command
                     commandId="it.jwbfs.core.games.paste"
                     label="%command.games.copy.to.3"
                     style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="it.jwbfs.ui.DiskView3">
                  </parameter>
                  <visibleWhen>
                  	<and>
   						<with variable="activeContexts">
             					<iterate operator="or">
             					<or>
             					 	<equals value="jwbfs.context.disk.3"/>
             					 	<equals value="jwbfs.context.disk.4"/>
             					 	<equals value="jwbfs.context.disk.5"/>
             					 	<equals value="jwbfs.context.disk.6"/>
                			    </or>
           						</iterate>      	           						      					           							          						
           				</with>
           				<with variable="activePartId">
           					<not>
           					 	<equals value="it.jwbfs.ui.DiskView3"/>
           					</not>   	           						      					           							          						
           				</with>
           			</and>           				
				</visibleWhen>
               </command>

<!--DISK4-->
               <command
                     commandId="it.jwbfs.core.games.paste"
                     label="%command.games.copy.to.4"
                     style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="it.jwbfs.ui.DiskView4">
                  </parameter>
                  <visibleWhen>
                  	<and>
   						<with variable="activeContexts">
             					<iterate operator="or">
             					<or>
             					 	<equals value="jwbfs.context.disk.4"/>
             					 	<equals value="jwbfs.context.disk.5"/>
             					 	<equals value="jwbfs.context.disk.6"/>
                			    </or>
           						</iterate>      	           						      					           							          						
           				</with>
           				<with variable="activePartId">
           					<not>
           					 	<equals value="it.jwbfs.ui.DiskView4"/>
           					</not>   	           						      					           							          						
           				</with>
           			</and>
				</visibleWhen>
               </command>                  
<!--DISK5-->
               <command
                     commandId="it.jwbfs.core.games.paste"
                     label="%command.games.copy.to.5"
                     style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="it.jwbfs.ui.DiskView2">
                  </parameter>
                  <visibleWhen>
                  	<and>
   						<with variable="activeContexts">
             					<iterate operator="or">
             					<or>
             					 	<equals value="jwbfs.context.disk.5"/>
             					 	<equals value="jwbfs.context.disk.6"/>
                			    </or>
           						</iterate>      	           						      					           							          						
           				</with>
           				<with variable="activePartId">
           					<not>
           					 	<equals value="it.jwbfs.ui.DiskView5"/>
           					</not>   	           						      					           							          						
           				</with>
           			</and>           				
				</visibleWhen>
               </command>
<!--DISK6-->
               <command
                     commandId="it.jwbfs.core.games.paste"
                     label="%command.games.copy.to.6"
                     style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="it.jwbfs.ui.DiskView6">
                  </parameter>
                  <visibleWhen>
                  	<and>
   						<with variable="activeContexts">
             					<iterate operator="or">
             					<or>
             					 	<equals value="jwbfs.context.disk.6"/>
                			    </or>
           						</iterate>      	           						      					           							          						
           				</with>
           				<with variable="activePartId">
           					<not>
           					 	<equals value="it.jwbfs.ui.DiskView6"/>
           					</not>   	           						      					           							          						
           				</with>
           			</and>           				
				</visibleWhen>
               </command>


<!-- menu generic visible when: if only 1 disk no copy commands-->               
               <visibleWhen>
               		<not>
   						<with variable="activeContexts">
             					<iterate operator="or">
             					 	<equals value="jwbfs.context.disk.1"/>
           						</iterate>      	           						      					           							          						
           				</with>
           			</not>
				</visibleWhen>
            </menu>
         </menu>
         
         <menu
               label="%menu.covers">
            <command
                  commandId="it.jwbfs.core.updateCoverForced"
                  label="%command.covers.update.selected"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="it.jwbfs.core.toolbar.disks.utils">
            <command
                  commandId="it.jwbfs.core.game.add"
                  icon="icons/bar/list-add.png"
                  label="Add game"
                  style="push">
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>                  
            </command>
            <command
                  commandId="it.jwbfs.core.game.add"
                  icon="icons/bar/document-save.png"
                  label="Export game"
                  style="push">
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
            <command
                  commandId="it.jwbfs.core.game.add"
                  icon="icons/bar/list-remove.png"
                  label="Delete game"
                  style="push">
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
            <command
                  commandId="it.jwbfs.core.updateGameList"
                  icon="icons/bar/view-refresh.png"
                  label="Refresh disks"
                  style="push">
               <parameter
                     name="diskID"
                     value="activeDiskID">
               </parameter>
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
            <separator
                  name="jwbfs.core.disk.utils.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="it.jwbfs.core.games.cut"
                  icon="icons/bar/edit-cut.png"
                  label="Cut Selected"
                  style="push">
                  <parameter
                        name="diskFrom"
                        value="activeID">
                  </parameter>
                  <parameter
                        name="diskTo"
                        value="">
                  </parameter>
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
            <command
                  commandId="it.jwbfs.core.games.copy"
                  icon="icons/bar/edit-copy.png"
                  label="Copy Selected"
                  style="push">
               <parameter
                     name="diskFrom"
                     value="activeID">
               </parameter>
               <parameter
                     name="diskTo"
                     value="">
               </parameter>
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
            <command
                  commandId="it.jwbfs.core.games.paste"
                  icon="icons/bar/edit-paste.png"
                  label="Paste Selected"
                  style="push">
               <parameter
                     name="diskFrom"
                     value="">
               </parameter>
               <parameter
                     name="diskTo"
                     value="activeID">
               </parameter>
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
            <command
                  commandId="it.jwbfs.core.game.add"
                  icon="icons/bar/list-add.png"
                  label="Add game"
                  style="push">
             <visibleWhen>
                       	<with variable="activePartId">
                       		<and>
           						<not>
           					 		<equals value="it.jwbfs.ui.SettingsView"/>
           						</not>
           						<not>
           					 		<equals value="it.jwbfs.ui.CoverView"/>
           						</not>
           					</and>   	           						      					           							          						
           				</with>
            </visibleWhen>  
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="it.jwbfs.core.toolbar.settings">
            <command
                  commandId="it.jwbfs.core.settings.save"
                  icon="icons/bar/media-floppy.png"
                  label="Save to settings file"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activePartId">
                     <equals
                           value="it.jwbfs.ui.SettingsView">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="it.jwbfs.core.toolbar.views">
            <command
                  commandId="referenceToMenuId.dropdown"
                  icon="icons/bar/tab-new.png"
                  label="Open tab"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Add disks, settings and cover views">
            </command>
         </toolbar>
      </menuContribution>
      <!--menuContribution
            allPopups="false"
            locationURI="menu:referenceToMenuId.dropdown">
         <command
               commandId="it.jwbfs.core.changeDisksPerspective"
               icon="icons/bar/tab-new.png"
               label="Show disk 1"
               style="push">
            <parameter
                  name="diskID"
                  value="1">
            </parameter>
         </command>
         <command
               commandId="it.jwbfs.core.changeDisksPerspective"
               icon="icons/bar/tab-new.png"
               label="Show disk 2"
               style="push">
            <parameter
                  name="diskID"
                  value="2">
            </parameter>
         </command>
         <command
               commandId="it.jwbfs.core.changeDisksPerspective"
               icon="icons/bar/tab-new.png"
               label="Show disk 3"
               style="push">
            <parameter
                  name="diskID"
                  value="3">
            </parameter>
         </command>
         <command
               commandId="it.jwbfs.core.changeDisksPerspective"
               icon="icons/bar/tab-new.png"
               label="Show disk 4"
               style="push">
            <parameter
                  name="diskID"
                  value="4">
            </parameter>
         </command>
         <command
               commandId="it.jwbfs.core.changeDisksPerspective"
               icon="icons/bar/tab-new.png"
               label="Show disk 5"
               style="push">
            <parameter
                  name="diskID"
                  value="5">
            </parameter>
         </command>
         <command
               commandId="it.jwbfs.core.changeDisksPerspective"
               icon="icons/bar/tab-new.png"
               label="Show disk 6"
               style="push">
            <parameter
                  name="diskID"
                  value="6">
            </parameter>
         </command>
      </menuContribution-->
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="jwbfs.context.disk.1"
            name="%context.disks.num.1">
      </context>
      <context
            id="jwbfs.context.disk.2"
            name="%context.disks.num.2">
      </context>
      <context
            id="jwbfs.context.disk.3"
            name="%context.disks.num.3">
      </context>
      <context
            id="jwbfs.context.disk.4"
            name="%context.disks.num.4">
      </context>
      <context
            id="jwbfs.context.disk.5"
            name="%context.disks.num.5">
      </context>   
      <context
            id="jwbfs.context.disk.6"
            name="%context.disks.num.6">
      </context>                           
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="referenceToMenuId.dropdown"
            name="referenceToMenuId.dropdown">
      </command>
   </extension>
   
   <!--extension point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="jwbfs.core.splash.SplashHandler"
            id="jwbfs.core.splash.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="jwbfs.products"
            splashId="jwbfs.core.splash.splashHandler">
      </splashHandlerProductBinding>
   </extension-->

</plugin>
