<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>


  
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jwbfs.ui.views.CoverView"
            icon="icons/image-x-generic.png"
            id="it.jwbfs.ui.CoverView"
            name="Cover"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.folder.SettingsView"
            icon="icons/preferences-desktop.png"
            id="it.jwbfs.ui.SettingsView"
            name="Settings"
            restorable="true">
      </view>

      <view
            class="jwbfs.ui.views.manager.ManagerView1"
            icon="icons/drive-removable-media-usb.png"
            id="it.jwbfs.ui.DiskView1"
            name="Disk 1"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.manager.ManagerView2"
            icon="icons/drive-removable-media-usb.png"
            id="it.jwbfs.ui.DiskView2"
            name="Disk 2"
            restorable="true">
      </view>
       <view
            class="jwbfs.ui.views.manager.ManagerView3"
            icon="icons/drive-removable-media-usb.png"
            id="it.jwbfs.ui.DiskView3"
            name="Disk 3"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.manager.ManagerView4"
            icon="icons/drive-removable-media-usb.png"
            id="it.jwbfs.ui.DiskView4"
            name="Disk 4"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.manager.ManagerView5"
            icon="icons/drive-removable-media-usb.png"
            id="it.jwbfs.ui.DiskView5"
            name="Disk 5"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.manager.ManagerView6"
            icon="icons/drive-removable-media-usb.png"
            id="it.jwbfs.ui.DiskView6"
            name="Disk 6"
            restorable="true">
      </view>      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jwbfs.ui.commands.category.convert"
            name="Convert">
      </category>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.toWbfs"
            name="Iso To wbfs">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.toIso"
            name="Wbfs To Iso">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.checkDisk"
            name="Check Disk">
            <commandParameter 
        		id="wbfs" 
        		name="wbfs" 
        		optional="false">
        	</commandParameter>  
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.fileDialog"
            name="File Dialog">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.fileDialogExport"
            name="File Dialog Export">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.folderDialog"
            name="Folder Dialog">
      </command>
            <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="it.jwbfs.core.folderCoverDialog"
            name="Folder Cover Dialog">
      </command>
     <command
            id="it.jwbfs.core.settings.save"
            name="Save Settings">
      </command>      
      <command
            id="it.jwbfs.core.updateCover"
            name="Update Cover">
             <commandParameter 
        		id="diskID" 
        		name="diskID" 
        		optional="false">
        	</commandParameter>            
      </command>
      <command
            id="it.jwbfs.core.updateCoverForced"
            name="update Cover Forced">
             <commandParameter 
        		id="diskID" 
        		name="diskID" 
        		optional="false">
        	</commandParameter>            
      </command>
      <command
            id="it.jwbfs.core.game.add"
            name="Add game">
      </command>
      <command
            id="it.jwbfs.core.game.export"
            name="Export game">
      </command>
      <command
            id="it.jwbfs.core.game.delete"
            name="Delete game">
      </command>                 
      <command
            id="it.jwbfs.core.updateGameList"
            name="Update Game List">
             <commandParameter 
        		id="diskID" 
        		name="diskID" 
        		optional="false">
        	</commandParameter>
      </command>
      <command
            id="it.jwbfs.core.updateTitles"
            name="Update Titles TXT">
      </command>
      <command
            id="it.jwbfs.core.deleteFile"
            name="Delete File">
      </command>
      <command
            id="it.jwbfs.core.exit"
            name="Exit">
      </command>  
      <command
            id="it.jwbfs.core.refreshFirstDisk"
            name="Refresh First Disk">
             <commandParameter 
        		id="diskID" 
        		name="diskID" 
        		optional="false">
        	</commandParameter>
      </command> 
      <command
            id="it.jwbfs.core.refreshAllDisks"
            name="Refresh all disks">
      </command>       
      <command
            id="it.jwbfs.core.changeDisksPerspective"
            name="Change disks perspective">
             <commandParameter 
        		id="numDisks" 
        		name="numDisks" 
        		optional="false">
        	</commandParameter>
      </command> 
      <command
            id="it.jwbfs.core.games.cut"
            name="Cut Games">
             <commandParameter 
        		id="diskFrom" 
        		name="diskFrom" 
        		optional="false">
        	</commandParameter>
             <commandParameter 
        		id="diskTo" 
        		name="diskTo" 
        		optional="false">
        	</commandParameter>
      </command>   
     <command
            id="it.jwbfs.core.games.copy"
            name="Copy Games">
             <commandParameter 
        		id="diskFrom" 
        		name="diskFrom" 
        		optional="false">
        	</commandParameter>
             <commandParameter 
        		id="diskTo" 
        		name="diskTo" 
        		optional="false">
        	</commandParameter>
      </command> 
     <command
            id="it.jwbfs.core.games.copy.paste"
            name="Copy Games">
             <commandParameter 
        		id="diskFrom" 
        		name="diskFrom" 
        		optional="false">
        	</commandParameter>
             <commandParameter 
        		id="diskTo" 
        		name="diskTo" 
        		optional="false">
        	</commandParameter>
      </command>    
     <command
            id="it.jwbfs.core.games.paste"
            name="Paste Games">
             <commandParameter 
        		id="diskFrom" 
        		name="diskFrom" 
        		optional="false">
        	</commandParameter>
             <commandParameter 
        		id="diskTo" 
        		name="diskTo" 
        		optional="false">
        	</commandParameter>
      </command>                  
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jwbfs.ui.handlers.SaveSettingsHandler"
            commandId="it.jwbfs.core.settings.save">
      </handler>
      <handler
            class="jwbfs.ui.handlers.ToWBFSConvertHandler"
            commandId="it.jwbfs.core.toWbfs">
      </handler>
      <handler
            class="jwbfs.ui.handlers.ToISOConvertHandler"
            commandId="it.jwbfs.core.toIso">
      </handler>
      <handler
            class="jwbfs.ui.handlers.CheckDiscHandler"
            commandId="it.jwbfs.core.checkDisk">
      </handler>
      <handler
            class="jwbfs.ui.handlers.FileDialogImportHandler"
            commandId="it.jwbfs.core.fileDialog">
      </handler>
      <handler
            class="jwbfs.ui.handlers.FileDialogExportHandler"
            commandId="it.jwbfs.core.fileDialogExport">
      </handler>
      <handler
            class="jwbfs.ui.handlers.FolderDiskDialogHandler"
            commandId="it.jwbfs.core.folderDialog">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateCoverHandler"
            commandId="it.jwbfs.core.updateCover">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateCoverForcedHandler"
            commandId="it.jwbfs.core.updateCoverForced">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateGameListHandler"
            commandId="it.jwbfs.core.updateGameList">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateTitlesTXTHandler"
            commandId="it.jwbfs.core.updateTitles">
      </handler>
       <handler
            class="jwbfs.ui.handlers.DeleteFileHandler"
            commandId="it.jwbfs.core.deleteFile">
      </handler>
      <handler
            class="jwbfs.ui.handlers.ExitHandler"
            commandId="it.jwbfs.core.exit">
      </handler>
      <handler
            class="jwbfs.ui.handlers.RefreshFirstDiskHandler"
            commandId="it.jwbfs.core.refreshFirstDisk">
      </handler>
      <handler
            class="jwbfs.ui.handlers.RefreshAllDisksHandler"
            commandId="it.jwbfs.core.refreshAllDisks">
      </handler>              
      <handler
            class="jwbfs.ui.handlers.OpenViewHandler"
            commandId="it.jwbfs.core.changeDisksPerspective">
      </handler>
      <handler
            class="jwbfs.ui.handlers.AddGameHandler"
            commandId="it.jwbfs.core.game.add">
      </handler>  
      <handler
            class="jwbfs.ui.handlers.ExportGameHandler"
            commandId="it.jwbfs.core.game.export">
      </handler>  
      <handler
            class="jwbfs.ui.handlers.DeleteGameHandler"
            commandId="it.jwbfs.core.game.delete">
      </handler>  
      <handler
            class="jwbfs.ui.handlers.copy.CutGamesHandler"
            commandId="it.jwbfs.core.games.cut">
      </handler>
      <handler
            class="jwbfs.ui.handlers.copy.CopyPasteGamesHandler"
            commandId="it.jwbfs.core.games.copy.paste">
      </handler>
      <handler
            class="jwbfs.ui.handlers.copy.CopyGamesHandler"
            commandId="it.jwbfs.core.games.copy">
      </handler>
      <handler
            class="jwbfs.ui.handlers.copy.PasteGamesHandler"
            commandId="it.jwbfs.core.games.paste">
      </handler>                                                  
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Disks Perspective"
            class="jwbfs.ui.perspectives.DisksPerspective1"
            id="jwbfs.ui.DisksPerspective">
      </perspective>
      <perspective
            name="Disks Perspective"
            class="jwbfs.ui.perspectives.DisksPerspective2"
            id="jwbfs.ui.DisksPerspective2">
      </perspective>
      <perspective
            name="Disks Perspective"
            class="jwbfs.ui.perspectives.DisksPerspective3"
            id="jwbfs.ui.DisksPerspective3">
      </perspective>
      <perspective
            name="Disks Perspective"
            class="jwbfs.ui.perspectives.DisksPerspective4"
            id="jwbfs.ui.DisksPerspective4">
      </perspective>
      <perspective
            name="Disks Perspective"
            class="jwbfs.ui.perspectives.DisksPerspective5"
            id="jwbfs.ui.DisksPerspective5">
      </perspective>
      <perspective
            name="Disks Perspective"
            class="jwbfs.ui.perspectives.DisksPerspective6"
            id="jwbfs.ui.DisksPerspective6">
      </perspective>
   </extension>
   <!--extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="it.jwbfs.action.disk"
            targetID="it.jwbfs.ui.DiskView1">
         <action
               class="jwbfs.ui.actions.AddGameAction"
               icon="icons/document-new.png"
               id="it.jwbfs.action.add.game"
               label="Add game"
               state="false"
               style="push"
               tooltip="Add a game to active disk">
         </action>
      </viewContribution>
   </extension-->
</plugin>
