<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jwbfs.ui.views.MainView"
            id="jwbfs.ui.ConvertView"
            name="MainView"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.CoverView"
            id="CoverView"
            name="Cover"
            restorable="true">
      </view>
      <view
            class="jwbfs.ui.views.folder.SettingsView"
            id="SettingsView"
            name="Settings"
            restorable="true">
      </view>

      <view
            class="jwbfs.ui.views.ManagerView"
            id="ManagerView"
            name="Disk Manager"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jwbfs.ui.commands.category.convert"
            name="Convert">
      </category>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="toWbfs"
            name="Iso To wbfs">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="toIso"
            name="Wbfs To Iso">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="checkDisk"
            name="Check Disk">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="fileDialog"
            name="File Dialog">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="fileDialogExport"
            name="File Dialog Export">
      </command>
      <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="folderDialog"
            name="Folder Dialog">
      </command>
            <command
            categoryId="jwbfs.ui.commands.category.convert"
            id="folderCoverDialog"
            name="Folder Cover Dialog">
      </command>
      <command
            id="updateCover"
            name="updateCover">
      </command>
      <command
            id="updateGameList"
            name="updateGameList">
      </command>
      <command
            id="updateTitles"
            name="updateTitles">
      </command>
            <command
            id="deleteFile"
            name="deleteFile">
      </command>
      
  
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jwbfs.ui.handlers.ToWBFSConvertHandler"
            commandId="toWbfs">
      </handler>
      <handler
            class="jwbfs.ui.handlers.ToISOConvertHandler"
            commandId="toIso">
      </handler>
      <handler
            class="jwbfs.ui.handlers.CheckDiscHandler"
            commandId="checkDisk">
      </handler>
      <handler
            class="jwbfs.ui.handlers.FileDialogAddHandler"
            commandId="fileDialog">
      </handler>
      <handler
            class="jwbfs.ui.handlers.FileDialogExportHandler"
            commandId="fileDialogExport">
      </handler>
      <handler
            class="jwbfs.ui.handlers.FolderDiskDialogHandler"
            commandId="folderDialog">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateCoverHandler"
            commandId="updateCover">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateGameListHandler"
            commandId="updateGameList">
      </handler>
      <handler
            class="jwbfs.ui.handlers.UpdateTitlesTXTHandler"
            commandId="updateTitles">
      </handler>
            <handler
            class="jwbfs.ui.handlers.DeleteFileHandler"
            commandId="deleteFile">
      </handler>
      
   </extension>
  
</plugin>
