<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jwbfs.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="jwbfs.ui.Perspective"
            id="jwbfs.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jwbfs.ui.application"
            name="jwbfs">
         <property
               name="appName"
               value="jwbfs">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jwbfs.rcp.views.MainView"
            id="jwbfs.ui.view"
            name="MainView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="jwbfs"
         point="org.eclipse.core.runtime.products">
      <product
            application="jwbfs.ui.application"
            name="jwbfs">
         <property
               name="appName"
               value="jwbfs">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jwbfs.ui.interfaces.MainViewEditor"
            default="false"
            icon="icons/alt_launcher.ico"
            id="jwbfs.ui.editors.MainViewEditor"
            name="MainViewEditor">
      </editor>
   </extension>

</plugin>
